<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RestAPIPOC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B7A1E28252CBBB800B437F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B7A1E3E252CBBBA00B437F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B7A1E49252CBBBA00B437F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
